In [5]:
print("hello world")

hello world

# general

In [35]:
age = 22
name = "Murali Sree Krishna C"
print("name :"+name.replace("C", "chittoji").upper()+", age :",age)
male = True
if male == True:
    gender = "male"
else:
    gender = "female"
print("Gender :", gender.upper())
print("worthy :", 10**3,"%")

name :MURALI SREE KRISHNA CHITTOJI, age : 22
Gender : MALE
worthy : 1000 %

In [45]:
x = 10 + 3 * 2
print(x)

16

In [53]:
price = 25
print(price > 10 and price < 30)
if price > 10:
    print("costly")

True
costly

In [4]:
i = 5
while i > 0:
    print(i * '*')
    i = i - 1

*****
****
***
**
*

In [67]:
names = ["john", "bob", "mosh", "sam", "mary"]
names[-5] = "warlord"
print(names[-5:-3])
print(len(names))

['warlord', 'bob']
5

In [9]:
numbers = [1, 2, 3, 4, 5]
for item in numbers:
    print(item)
number = range(10 , 20)
for j in number:
    print(j)

1
2
3
4
5
10
11
12
13
14
15
16
17
18
19

In [13]:
x = 1
y = 1.0
z = "hey there"
X = True
print(type(x))
print(type(y))
print(type(z))
print(type(X))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [16]:
class dog:
    
    def bark(self):
        print('bark')
d = dog()
d.bark()
print(type(d))

bark
<class '__main__.dog'>

# pyramid

In [25]:
n = int(input('enter your number of rows :'))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(i, end="")
        #print(j, end="")
    print()

enter your number of rows :5
1
22
333
4444
55555

In [26]:
# pyramid
num = int(input('enter the number of rows :'))
for i in range(1, num+1):
    for j in range(1, num-i+1):
        print(end=" ")
    for j in range(i, 0, -1):
        print(j, end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

enter the number of rows :5
    1
   212
  32123
 4321234
543212345

In [37]:
#lists
list = ["hey there",4,5,6,["hey","you"]]
list[2] = 8
list.append(9)
list

['hey there', 4, 8, 6, ['hey', 'you'], 9]

In [36]:
# tuples
tuple = (2,(5,8),"hello")
print(type(tuple))
tuple

<class 'tuple'>

(2, (5, 8), 'hello')

In [55]:
# dictonary
dict = {"email":"cmkrishna97@gmail.com", "mob_number":"99725777728", "value":[5,6]}
dict["email"]
dict

{'email': 'cmkrishna97@gmail.com',
 'mob_number': '99725777728',
 'value': [5, 6]}

In [54]:
# set
s = {1,2,3,4,3,2,1,'hello',4.5}
s.add(7)
print(type(s))
s

<class 'set'>

{1, 2, 3, 4, 4.5, 7, 'hello'}

In [65]:
# stack {first in last out}
stack = []
stack.append(10)
stack.append(20)
stack.append(30)
stack
stack.pop()
stack.pop()
stack.pop()
stack1 = []
len(stack1) == 0
stack1.append(2)
stack1.append(4)
stack1[-1]

4